<div class="wrapper">

    <mat-form-field class="example-full-width" class="fixed-calendar" >
        <input type="text"  matInput [matDatepickerFilter]="myFilter"[min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Kies een datum" [(ngModel)]="verzoek.Datum"
        (dateChange)="someMethodName($event)" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>

<div class="pop-up">
  
  <mat-radio-group
         aria-labelledby="example-radio-group-label"
         class="example-radio-group"
         [(ngModel)] = "verzoek.BeginTijd"
         >
         <mat-radio-button  class="example-radio-button" *ngFor="let tijd of tijden" [value]="tijd.beginTijd"  [disabled]="tijd.used" aria-required>
             {{tijd.name}} 
         </mat-radio-button>
  </mat-radio-group>


</div>     

         
<mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment" [(ngModel)] = "verzoek.Motivatie" required></textarea>
  </mat-form-field>
  
  <div class="example-button-row">
<button (click) ='createVerzoek()' mat-raised-button>Save</button>
  </div>
      




</div>
