<div *ngIf="filterVerzoeken?.length > 0;else noVerzoeken">

 <table>
        <tr>
          <th>Aanvraagdatum</th>
          <th>Reserveringsdatum</th>
          <th>Begintijd</th>
          <th>Eindtijd</th>
          <th>Accepteren</th>
          <th>Afwijzen</th>
        </tr>
        <tr *ngFor = "let verzoek of filterVerzoeken">
     
          <td>{{verzoek.AanvraagDatum}}</td>
          <td>{{verzoek.Datum}}</td>
          <td>{{verzoek.BeginTijd}}:00</td>
          <td>{{verzoek.EindTijd}}:00</td>
          <td  (click)="Goedkeuren(verzoek)">Goedkeuren</td>
          <td  (click) = "Afkeuren(event,verzoek)">Afkeuren 
              <div *ngIf = "editState && AfkeurEdit.id == verzoek.id">
                  <mat-form-field class="example-full-width">
                      <textarea matInput placeholder="Leave a comment" [(ngModel)] = "verzoek.comment" required></textarea>
                    </mat-form-field>
                    
                    <div class="example-button-row">
                  <button (click) ='updateAfkeuren($event,verzoek)' mat-raised-button>Save</button>
                  <button mat-raised-button>Annuleren</button>
                    </div>
    
              </div>
          </td>
        

        </tr>
      
      
        
        
        <tr>
    
           
    
        

        
            
        
   
        </table>

       
       

        
      
  
      
    
</div>



<ng-template #noVerzoeken>
    <hr>
    <h5>Er zijn geen verzoeken in behandeling om te beoordelen</h5>
</ng-template>