<h2>Reserveringen bekijken</h2>

<table class = "center" > 

    <thead>

        <tr>

            <th>

                datum

            </th>

            <th>

                begintijd

            </th>

            <th>

                eindtijd

            </th>

            <th>

                beschrijving

            </th>

            <th>
                
                status

            </th>

        </tr>

    </thead>

    <tbody>

        <tr #statusButton *ngFor="let reservation of reservations" attr.status="{{reservation.status}}" attr.comment="{{reservation.teacherComment}}">

            <td>

                {{reservation.date}}

            </td>

            <td>

                {{reservation.startTime}}

            </td>

            <td>

                {{reservation.endTime}}

            </td>

            <td>

                {{reservation.description}}

            </td>

            <td>

                <button mat-raised-button (click)="openDialog(statusButton)" > {{reservation.status}} </button>

            </td>

        </tr>

    </tbody>

</table>