<app-menu></app-menu>
<h4>Registraties beheren</h4>
<div *ngIf="message?.length > 0;else noMessage">
    <div class="alert alert-info" role="alert">
        <b>{{ message }}</b>
    </div>
  </div>
  
  <ng-template #noMessage>
      <hr>
  </ng-template>
<div *ngIf="registrations?.length > 0;else noRegistrations">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">E-Mail</th>
                <th scope="col">voornaam</th>
                <th scope="col">achternaam</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let registration of registrations">
                    <td>{{ registration.email }}</td>
                    <td>{{ registration.firstname }}</td>
                    <td>{{ registration.lastname }}</td>
                    <td><button type ="button" class="btn-success" (click)="acceptRegistration(registration.email)">Accepteren</button></td>
                    <td><button class="btn-danger" (click)="declineRegistration(registration.email)">Weigeren</button></td>
            </tr>
        </tbody>
    </table>
</div>

<!-- -->
<ng-template #noRegistrations>
    <hr>
    <h5>Er zijn momenteel geen nieuwe registraties.</h5>
</ng-template>